@import "./_theme_colors";
@import "./_theme_font";
@import "./_theme_custom";
//
@import "./header";

@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";


.scroll-container{
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
}

.scroll-container::-webkit-scrollbar{
    display:none;
}


.scroll-area{
    scroll-snap-align: start;
    scrollbar-width: none;
}